/* Media Query BreakPoints */
$vs-up: '(min-width: 420px)';
$xs-up: '(min-width: 576px)';
$sm-up: '(min-width: 768px)';
$md-up: '(min-width: 992px)';
$lg-up: '(min-width: 1200px)';


$xl-down: '(max-width: 1500px)';
$lg-down: '(max-width: 1199px)';
$mn-down: '(max-width: 1023px)';
$md-down: '(max-width: 991px)';
$sm-down: '(max-width: 767px)';
$xs-down: '(max-width: 575px)';
$vs-down: '(max-width: 419px)';

/* Color */
$white: #ffffff;
$black: #000000;